@import url('https://fonts.googleapis.com/css?family=Railway|Roboto&display=swap');

body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background-color: #ebe9f1;
  color: #0800ff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}